body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Smoothie_home1.jpg");
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1{
  color: darksalmon; 
}

#titi{
  font-weight: bold;
}

div {
  font-style: italic;
  color: aquamarine;
}